/* Table of Contens
-------------------------------------
-General Content
-Typography
-Header & Navigation
-Images & Media
-Footer
-Media Queries

font-family: 'Abel', sans-serif;
font-family: 'Satisfy', cursive;
-------------------------------------*/

/* General Content
-------------------------------------*/
main {background-color:#6c767e;}

-------------------------------------

/* Typography
-------------------------------------*/

-------------------------------------

/* Header & Navigation
-------------------------------------*/
header.main_nav{padding:1% 0;
display:block;
}
-------------------------------------

/* Images & Media
-------------------------------------*/
.avatar {border-radius: 50%;}

-------------------------------------

/* Footer
-------------------------------------*/

-------------------------------------

/* Media Queries
-------------------------------------*/

-------------------------------------
